@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Hello World</h1>

<div id="container">
    <div id="results">
        @foreach (Movie m in Model.Movies)
        {
            <div class="movie-entry">

                <h4>@m.Title <smaller>@(@m.MPAA_Rating == null ? "" : $"({@m.MPAA_Rating})")</smaller></h4>
                <i>@m.Major_Genre</i>
                <div class="ratings">
                    <div>
                        Rotten Tomatoes
                        <h3>@m.Rotten_Tomatoes_Rating</h3>
                    </div>
                    <div>
                        IMDB
                        <h3>@m.IMDB_Rating </h3>
                    </div>
                </div>
            </div>
        }
        </div>
</div>
<form method="post">
    <input type="text" name="search" id="search" />
    <input type="submit" value="Search" />

    <h2>MPAA Rating</h2>
    <label>
        <input type="checkbox" name="rating" value="G" checked="@Model.rating.Contains("G")"/>
        Rated G
    </label>
    <label>
        <input type="checkbox" name="rating" value="PG" checked="@Model.rating.Contains("PG")"/>
        Rated PG
    </label>
    <label>
        <input type="checkbox" name="rating" value="PG-13" checked="@Model.rating.Contains("PG-13")"/>
        Rated PG-13
    </label>
    <label>
        <input type="checkbox" name="rating" value="R" checked="@Model.rating.Contains("R")"/>
        Rated R
    </label>
    <label>
        <input type="checkbox" name="rating" value="NC-17" checked="@Model.rating.Contains("NC-17")"/>
        Rated NC-17
    </label>

    <h2>IMDB Ratings</h2>
    <input type="text" name="minIMDB" id="minIMDB" />
    <input type="text" name="maxIMDB" id="maxIMDB" />

</form>
